<!DOCTYPE html>
<html>
    <head>
        <title>Logged Out</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<p>Logged out</p>
		<p><a href="/">Login Again</a></p>
		<iframe style="display:none;" src="<%= @logout_url %>"/>
	</body>
</html>